html, body {
    margin: 0;
    padding: 0;
}

* {box-sizing: border-box;}

.parent {


}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  background-color: #272727;
  padding: 20px 10px;
}

.header a {
  float: left;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;

  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}


.header-right {
  float: right;

  opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}

.index_image {
  max-height:400px;
  max-width: 400px;
  overflow: hidden;
}

.content {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
  background-color: #272727;
  height: 90vh;


  }


.imgcontainer{
    position: relative;
    display: block;
    color: #ffffff;
    display: inline-block;
    text-align: center;
}

.menutext {
    font-weight: bold;
    position: fixed-center;
}

#profpic {
  border-radius: 50%;
}

#aboutparagraph {
  color: #ffffff;
  width: 800px;
  font-size:25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#contactform {
  color: #ffffff;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;

}

#priceparagraph {

  color:#ffffff;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
  width: 800px;
}

@media all and (max-width: 800px) {
  .content {
    flex-direction: column;
    height: 150vh;
    
  }

  #priceparagraph{
    width: 400px;
  }

}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}